body {
    background-color: #93c572;
    font-family: Arial, sans-serif;
  }
  
  .contact-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    color: #93c572;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    background-color: #93c572;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
 
/* Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
  max-width: 400px; /* Adjust the width as needed */
  width: 80%; /* Adjust the width as needed */
  text-align: center;
}

.popup h2 {
  margin-bottom: 10px;
}

.popup p {
  margin-bottom: 20px;
}

.popup.show {
  display: block;
}
